.arrow-left {
	border-right-color:#31a3dd;
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected{
	border-color:#31a3dd !important;	
}
.post-wrapper-top h2,
.cat_widget:hover,
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > span:focus,
.form-control:focus,
.panel-default > .panel-heading:hover,
.bggrey,
.item .icon-container,
#owl-awada-testi-widget .img-circle,
.awada-testimonial-wrap,
.tparrows:hover,
.blog_button,
.magnifier .btn-default:hover,
blockquote,
.magnifier .btn-default:focus,
.magnifier .btn-default:active,
.service-icon-square,
.main-title hr {
	border-color:#31a3dd;
}
#awada-header-style-1 .dropdown-menu,
#awada-header-style-1 .dropmenu .dropdown.dropmenu-fw .dropdown-menu {
	border-top-color: #31a3dd !important;
}
.main_title h2 span,
.blog_button,
.cat_widget h3,
.rating i,
.feature-info-front i,
.item .icon-container,
.team_block span,
.blog-carousel-meta span i,
.small_title span,
.check li:before,
.service-icon-square i,
.servicelayout:hover .service-icon i,
.shop-right .title .price,
.shop_item .price,
.cart_table .price2,
.widget h3 span,
.big_title_slider span,
a,
.milestone-counter i,
a.readmore,
#awada-header-style-1 .dropmenu h3 i,
#awada-header-style-1 .dropmenu-fw .dropdown-menu li a:before,
#sitetopbar .topbar-contact-cart i {
	color:#31a3dd;
}
button,
input[type="button"],
input[type="submit"],
.timeline-badge.danger,
.flex-control-paging li a.flex-active,
.tparrows:hover {
	background-color:#31a3dd;
}
.demo_changer .demo-icon,
.recent_posts_widget > li img:hover,
#tabbed_widget .nav-tabs > li.active > a, 
#tabbed_widget .nav-tabs > li.active > a:hover,
#tabbed_widget .nav-tabs > li.active > a:focus,
#tabbed_widget .nav > li > a:hover, 
#tabbed_widget .nav > li > a:focus,
#awada_footer_area .topbar-social-links span a:hover,
.footer_post li img:hover,
#tabbed_widget .recent_posts_widget img:hover,
.plan_col:hover,
.plan_col:hover .plan-price,
.banners li:hover .img-thumbnail,
.feature-info .feature-info-back,
.service-with-image:hover .service-title,
.calloutbg-full-mini,
#services .owl-controls .owl-page span,
.item:hover .icon-container,
.white-wrapper #owl-testimonial .owl-controls .owl-page.active span,
.make-bg,
.calloutbox,
#owl-awada-testi-widget .owl-controls .owl-prev:hover, 
#owl-awada-testi-widget .owl-controls .owl-next:hover,
.overlay #owl-testimonial .owl-controls .owl-page.active span,
.progress-bar,
.awadatop,
.magnifier .btn-default:hover,
.magnifier .btn-default:focus,
.magnifier .btn-default:active,
.rsDefaultInv .rsBullet.rsNavSelected span,
.service-icon-square.active,
.servicelayout:hover .service-icon-square,
.btn-primary,
#accordion-first .accordion-heading .accordion-toggle.active em,
#accordion-second .accordion-heading .accordion-toggle.active em,
mark,
.pager li > a, .pager li > span,
.full_colored,
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > span:focus,
.tagcloud a:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a, 
#awada-header .navbar-nav > li > a:hover,
#awada-header .navbar-nav > li > a:focus,
#awada-header .navbar-nav > li > a:active,
#awada-header .navbar-default .navbar-nav > .open > a,
#awada-header .navbar-default .navbar-nav > .open > a:hover,
#awada-header .navbar-default .navbar-nav > .open > a:focus{
	background-color:#31a3dd;
}
.flex-direction-nav a,
.rsUni .rsThumb.rsNavSelected .thumbIco,
.custom-overlay {
	background-color:#31a3dd;
}
/* Sidebar Widget */
#sidebar .widget:not(.widget_product_categories) > ul > li.cat-item > a:hover, #sidebar .widget > ul.cat_list_widget > li > a:hover, #sidebar .widget > ul > li.page_item > a:hover, #sidebar .widget > div.menu-header-menu-container > ul.menu > li.menu-item > a:hover{
	background-color: #31a3dd !important;
}
/* wocommerce */
.woocommerce div.product form.cart .button {
    background: #31a3dd;
}
.woocommerce .woocommerce-product-rating .star-rating {
    color: #31a3dd;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce span.onsale{
	background-color: #31a3dd;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #31a3dd;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	background-color: #31a3dd;
	color:#fff;
}
.woocommerce .woocommerce-message {
    border-top-color: #31a3dd;
}
.woocommerce .woocommerce-message:before {
    color: #31a3dd;
}
.woocommerce .woocommerce-info {
    border-top-color: #31a3dd;
}
.woocommerce .woocommerce-info:before {
    color: #31a3dd;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	background-color: #31a3dd;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background-color: #0f723d;
}
/* Search Box */
#two-sidebar .form-control:hover,
#sidebar .form-control:hover {
	border: 1px solid #31a3dd;
}
/* Calender Styling */
#wp-calendar {
    border: 2px solid #31a3dd;
}
#wp-calendar th {
    border: 2px solid #31a3dd;
}
#wp-calendar caption {
    background-color: #31a3dd;
}
/* Current Menu Color */
#awada-header-style-1 .navbar-nav > li.current_page_item > a:hover {
    background-color: #31a3dd;
}
/* Extra CSS By Hunny */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
	color:#31a3dd !important;
}
.dark_header {
	background:#31a3dd !important;
	border-bottom-color:#31a3dd !important
}
/* Service */
.servicelayout a.readmore {
    box-shadow: 0 0 6px #31a3dd;
}
.service-with-image a.readmore:hover, .servicelayout a.readmore:hover {
    background-color: #31a3dd;
}
.service-with-image a.readmore {
    box-shadow: 0 0 6px #31a3dd;
}
/* Feature Style */
.feature_block_boxed a.readmore {
    background-color: #31a3dd;
}
/* Portfolio Home & Classic */
#boxed-portfolio .portfolio_list {
    border-top: 5px solid #31a3dd;
}
/* Team Section */
.team_block {
    border-top: 5px solid #31a3dd;
}
/* Blog */
.blog-masonry .blog-carousel {
    border-top: 5px solid #31a3dd;
}
/* Sidebar */
#sidebar .title h2 {
    background: #31a3dd none repeat scroll 0 0;
}
/* Contact */
#contact_address{
	border: 3px solid #31a3dd;
}
#copyrights {
    background-color: #31a3dd;
}
#sitetopbar {
    background: #31a3dd;
    border-bottom: #31a3dd;
}
/****

Awada Classic SLIDER

****/
.awada-slider .owl-nav [class*="owl-"]:hover {
  background-color: #fff;
  color: #31a3dd;
}
.awada-slider .owl-nav .owl-prev,
.awada-slider .owl-nav .owl-next {
  background-color: #31a3dd;
}

.awada-slider .owl-dots .owl-dot.active span,
.awada-slider .owl-dots .owl-dot:hover span {
  background-color: #31a3dd;
}
.slide-inner-content h3 p, .slide-inner-content h3 {
    color: #31a3dd;
}
.slide-inner-content .a-btn-classic:hover {
    border-color: #31a3dd;
}